<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
     <div class="col">
          <!-- <h3>Personajes</h3>
          <hr>
          <ul>
               <li *ngFor="let personaje of personajes;" >  
                    {{personaje.nombre}} - {{personaje.poder | number }}
                </li>
          </ul> -->
          <!-- <app-personajes [personajes]="personajes"></app-personajes> -->
          <app-personajes ></app-personajes>

     </div>
     <div class="col">
         <!-- <app-agregarpersonaje  [nuevoPersonaje]="nuevoPersonaje" [personajes]="personajes" ></app-agregarpersonaje> -->
         <!-- <app-agregarpersonaje  [nuevoPersonaje]="nuevoPersonaje" (onNuevoPersonaje)="agregarNuevoPersonaje($event)" ></app-agregarpersonaje> -->
         <app-agregarpersonaje  [nuevoPersonaje]="nuevoPersonaje"  ></app-agregarpersonaje>

     </div>
</div>
